.container {
  display: flex;
  flex-wrap: wrap;
}

.search {
  width: 50%;
  height: 30px;
}

.searchContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
